@font-face {
  font-family: 'font-num';
  src: url('@/assets/fonts/Oswald.ttf');
}
@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter-VariableFont_opsz,wght.ttf');
}
