@import './fonts.scss';
@import './_reset.scss';

:root {
  --card-border-radius: 20px;

  --color-primary: rgba(42, 98, 144, 1);
  --color-base: rgba(211, 218, 231, 1);
  --color-base-secondary: rgba(235, 238, 245, 1);
  --color-inverted: rgba(12, 14, 17, 1);
  --color-text-headline: rgba(45, 51, 59, 1);
  --color-text-body: rgba(89, 95, 105, 1);

  --color-primary-t0: rgba(42, 98, 144, 0);
  --color-primary-t1: rgba(42, 98, 144, 0.1);
  --color-primary-t2: rgba(42, 98, 144, 0.2);
  --color-primary-t3: rgba(42, 98, 144, 0.3);
  --color-primary-t4: rgba(42, 98, 144, 0.4);
  --color-primary-t5: rgba(42, 98, 144, 0.5);
  --color-primary-t6: rgba(42, 98, 144, 0.6);
  --color-primary-t7: rgba(42, 98, 144, 0.7);
  --color-primary-t8: rgba(42, 98, 144, 0.8);
  --color-primary-t9: rgba(42, 98, 144, 0.9);

  @media (prefers-color-scheme: dark) {
    --color-primary: rgba(152, 203, 255, 1);
    --color-base: rgba(12, 14, 17, 1);
    --color-base-secondary: rgba(22, 26, 31, 1);
    --color-inverted: rgba(249, 249, 253, 1);
    --color-text-headline: rgba(224, 230, 241, 1);
    --color-text-body: rgba(165, 171, 182, 1);

    --color-primary-t0: rgba(152, 203, 255, 0);
    --color-primary-t1: rgba(152, 203, 255, 0.1);
    --color-primary-t2: rgba(152, 203, 255, 0.2);
    --color-primary-t3: rgba(152, 203, 255, 0.3);
    --color-primary-t4: rgba(152, 203, 255, 0.4);
    --color-primary-t5: rgba(152, 203, 255, 0.5);
    --color-primary-t6: rgba(152, 203, 255, 0.6);
    --color-primary-t7: rgba(152, 203, 255, 0.7);
    --color-primary-t8: rgba(152, 203, 255, 0.8);
    --color-primary-t9: rgba(152, 203, 255, 0.9);
  }
}
